@charset "UTF-8";
/*========================================================
                        Camera
=========================================================*/
.camera_container {
  position: relative;
  padding-bottom: 40.07143%;
}

@media (max-width: 748.6631px) {
  .camera_container {
    padding-bottom: 300px;
  }
}
.camera_wrap {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin-bottom: 0 !important;
  height: 100%;
  background: #fff;
  z-index: 0;
}

.camera_wrap img {
  max-width: none !important;
}

.camera_fakehover {
  height: 100%;
  min-height: 60px;
  position: relative;
  width: 100%;
}

.camera_src {
  display: none;
}

.cameraCont, .cameraContents {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}

.cameraSlide {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.cameraContent {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}

.camera_target {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  text-align: left;
  z-index: 0;
}

.camera_overlayer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 0;
}

.camera_target_content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 2;
}

.camera_loader {
  background: #fff url(../images/camera-loader.gif) no-repeat center;
  border: 1px solid #ffffff;
  border-radius: 18px;
  height: 36px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  margin: -18px 0 0 -18px;
  top: 50%;
  width: 36px;
  z-index: 3;
}

.camera_nav_cont {
  height: 65px;
  overflow: hidden;
  position: absolute;
  right: 9px;
  top: 15px;
  width: 120px;
  z-index: 4;
}

.camerarelative {
  overflow: hidden;
  position: relative;
}

.imgFake {
  cursor: pointer;
}

.camera_command_wrap .hideNav {
  display: none;
}

.camera_command_wrap {
  left: 0;
  position: relative;
  right: 0;
  z-index: 4;
}

.showIt {
  display: none;
}

.camera_clear {
  clear: both;
  display: block;
  height: 1px;
  margin: -1px 0 25px;
  position: relative;
}

.camera_caption {
  display: none;
}

.cameraContent .camera_caption {
  display: block;
}

/*================   Custom Layout&Styles   =====================*/
.camera_caption {
  position: absolute;
}
.camera_caption > div {
  height: 100%;
}

.camera_pag {
  display: none;
}
.camera_pag_ul {
  text-align: center;
}
/*.camera_pag_ul li {
  display: inline-block;
  width: 130px;
  height: 60px;
  border: 2px solid #fff;
  line-height: 8px;
  text-align: center;
  cursor: pointer;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.camera_pag_ul li:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background: #000;
  opacity: 0.51;
  z-index: 6;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.camera_pag_ul li.cameracurrent:before, .camera_pag_ul li:hover:before {
  height: 100%;
}
.camera_pag_ul li + li {
  margin-left: 9px;
}
.camera_pag_ul li > span {
  display: none;
}*/
/*@media (min-width: 992px) {
  .camera_pag_ul li {
    width: 180px;
    height: 105px;
  }
}

.camera_pag_ul .pag_nav_0 {
  background: transparent url(../images/page-01_img02.jpg);
}
.camera_pag_ul .pag_nav_1 {
  background: transparent url(../images/page-01_img03.jpg);
}
.camera_pag_ul .pag_nav_2 {_pag

  background: transparent url(../images/page-01_img04.jpg);
}
@media (min-width: 768px) {
  .camera_pag {
    display: block;
    position: relative;
    top: -15px;
    z-index: 5;
  }
}*/
@media (min-width: 992px) {
  .camera_pag {
    top: -82px;
  }
}

.camera_nav {
  position: absolute;
  bottom: 100px;
  width: 672px;
  max-width: 672px;
  display: none;
  z-index: 9999;
  left: 50%;
  margin-left: -336px;
}
@media (min-width: 768px) {
  .camera_nav {
    display: inline-block;
  }
}

.camera_next {
  position: absolute;
  cursor: pointer;
  right: 6%;
  z-index: 5;
  top: 56px;
}
.camera_next:before {
  position: absolute;
  content: "";
  font-family: "FontAwesome";
  font-size: 34px;
  color: #fff;
}

.camera_prev {
  position: absolute;
  cursor: pointer;
  left: 4%;
  z-index: 5;
  top: 56px;
}
.camera_prev:before {
  position: absolute;
  content: "";
  font-family: "FontAwesome";
  font-size: 34px;
  color: #fff;
}

.cameraContents:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.38);
}
